.custom-color{
    /* background: linear-gradient(to right, #0d6efd, #000000); */
    background: linear-gradient(to right, #0d28fd, #a1d0ff);
}

.Calibri-500{
    font-family: Calibri;
    font-size: 18px;
    font-weight: 500;
    color: rgb(75, 73, 73);
}
.Calibri-500-blue{
    font-family: Calibri;
    font-size: 16px;
    font-weight: 500;
    /* color: #0d6efd; */
}
.Calibri-600{
    font-family: Calibri;
    font-size: 31px;
    font-weight: 600;
    color: #0d6efd;
}

.Calibri{
    font-family: Calibri;
}

.custom-height{
    height: 100vh;
}
body .card .card-body-custom {
    padding: 0;
}
.font24{
    font-size: 24px;
    font-weight: 600;

}
.font16{
    font-size: 16px;
}
.card-height{
    height: 100% !important;

}
.btn-width-100{
    width: 100px;
}

@keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Apply animation to the card */
  .body-wrapper {
    animation: slideDown 1.5s forwards; /* Animation duration: 0.5 seconds */
  }
  .container{
    animation: slideDown 1s forwards;
  }
  @keyframes slideLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  /* Apply animation to the form-details-wrapper */
  .form-details-wrapper {
    animation: slideLeft 0.8s forwards;
  }

   /* Target the calendar header */
   .fc-toolbar.fc-header-toolbar {
    background-color: #1170ff; /* Change background color */
    color: white; /* Change text color */
    height: 60px;
}
.fc-toolbar.fc-header-toolbar .fc-toolbar-chunk{
    display: flex;
}
.fc .fc-button-primary{
    background-color: transparent !important;
    border: 0px solid transparent
}
@media (max-width: 768px) {
    .gy-md-5 {
        --bs-gutter-y: 3rem; /* Set gy for mobile screens */
    }
    .fc .fc-toolbar-title {
        font-size: 1.10em;
        margin: 0px;
    }
}
@media (min-width: 992px) {
    .fc .fc-toolbar-title {
        font-size: 1.10em;
        margin: 0px;
    }
}


/* theme */

[data-bs-theme="blue"] {
    --bs-body-color: var(--bs-white);
    --bs-body-color-rgb: #{to-rgb($white)};
    --bs-body-bg: var(--bs-blue);
    --bs-body-bg-rgb: #{to-rgb($blue)};
    --bs-tertiary-bg: #{$blue-600};
  
    .dropdown-menu {
      --bs-dropdown-bg: #{mix($blue-500, $blue-600)};
      --bs-dropdown-link-active-bg: #{$blue-700};
    }
  
    .btn-secondary {
      --bs-btn-bg: #{mix($gray-600, $blue-400, .5)};
      --bs-btn-border-color: #{rgba($white, .25)};
      --bs-btn-hover-bg: #{darken(mix($gray-600, $blue-400, .5), 5%)};
      --bs-btn-hover-border-color: #{rgba($white, .25)};
      --bs-btn-active-bg: #{darken(mix($gray-600, $blue-400, .5), 10%)};
      --bs-btn-active-border-color: #{rgba($white, .5)};
      --bs-btn-focus-border-color: #{rgba($white, .5)};
      --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .2);
    }
  }